@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
}

/* .App {
  
} */

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 9.5vh;
  display: flex;
  /* align-items: stretch; */
  /* justify-content: space-around; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

/* h3 {
  background-color: blueviolet;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.List-items {
  background-color: brown;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 36px;
}

.Container {
  width: 100%;
  min-height: 81vh;
  display: flex;
  background-color: darkslategray;
}

.Left-container {
  background-color: darkorange;
  width: 60%; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Portfolio1 {
  background-color: powderblue;
  width: 50%;

}
.Back1-img {
  width: 100%;
  height: 37vh;
  border: 1px solid black;
  background-image: url("../public/images/flipper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Port1-link {
  /* background-color: azure; */
  height: 3vh;
  text-align: center;
  font-size: 24px;
  /* padding: 3px; */
}

.Port1-link a:link {
  /* background-color: white; */
  text-decoration: none;
  /* border: 2px solid black;
  border-radius: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Portfolio2 {
  background-color: powderblue;
  width: 50%;
}

.Back2-img {
  width: 100%;
  height: 37vh;
  border: 1px solid black;
  background-image: url("../public/images/editor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Port2-link {
  /* background-color: azure; */
  height: 3vh;
  text-align: center;
  font-size: 24px;
  /* padding: 3px; */
}

.Port2-link a:link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Portfolio3 {
  background-color: powderblue;
  width: 50%;
}

.Back3-img {
  height: 37vh;
  border: 1px solid black;
  background-image: url("../public/images/calculator.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Port3-link {
  height: 3vh;
  text-align: center;
  font-size: 24px;
  /* padding: 3px; */
}

.Port3-link a:link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Portfolio4 {
  background-color: powderblue;
  width: 50%;
  /* height: 40vh;
  border: 1px solid black;
  background-image: url("../public/images/profile-card-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* border-radius: 10px; */
  /* margin: 1px 1px 1px 1px; */
}

.Back4-img {
  height: 37vh;
  border: 1px solid black;
  background-image: url("../public/images/profile-card-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Port4-link {
  height: 3vh;
  text-align: center;
  font-size: 24px;
  /* padding: 3px; */
}

.Port4-link a:link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right-container {
  background-color: darkgreen;
  width: 40%;
  font-size: 24px;
  
}

#Profile {
  width: 150px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#About-list {
  margin-left: 10px;
  list-style-type: none;
  padding: 0;
}

.Footer href {
  transition: 0.2s all;
}

.Footer-left {
  font-size: 24px;
}

.Hand {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.Github {
  margin: 15px;
  color: white;
  font-size: 32px;
}

.Github:hover {
  color: dodgerblue;
  transform: translateY(-10px);
  cursor: pointer;
}

.Twitter {
  margin: 15px;
  color: white;
  font-size: 32px;
}

.Twitter:hover {
  color: dodgerblue;
  transform: translateY(-10px);
  cursor: pointer;
}

.Discord {
  margin: 15px;
  color: white;
  font-size: 32px;
}

.Discord:hover {
  color: dodgerblue;
  transform: translateY(-10px);
  cursor: pointer;
}

.Telegram {
  margin: 15px;
  color: white;
  font-size: 32px;
}

.Telegram:hover {
  color: dodgerblue;
  transform: translateY(-10px);
  cursor: pointer;
}

.Linkedin  {
  margin: 15px;
  color: white;
  font-size: 32px;
}

.Linkedin:hover  {
  color: dodgerblue;
  transform: translateY(-10px);
  cursor: pointer;
}

.Footer {
  background-color: rgb(43, 2, 2);
  width: 100%;
  min-height: 7vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}