* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .App {
  
} */

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 10vh;
  display: flex;
  /* align-items: stretch; */
  /* justify-content: space-around; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

h3 {
  background-color: blueviolet;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List-items {
  background-color: brown;
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.Container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  background-color: darkslategray;
}

.Left-container {
  background-color: darkorange;
  width: 50%; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Portfolio {
  background-color: powderblue;
  width: 50%;
  height: 40vh;
  border: 1px solid black;
  /* border-radius: 10px; */
  /* margin: 1px 1px 1px 1px; */
}

.Right-container {
  background-color: darkgreen;
  width: 50%;
  font-size: 24px;
}

.Footer-left {
  font-size: 24px;
}

.Hand {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.Github {
  margin: 15px;
  color: white;
  font-size: 36px;
}

.Github:hover {
  font-size: 42px;
  color: dodgerblue;
}

.Twitter {
  margin: 15px;
  color: white;
  font-size: 36px;
}

.Twitter:hover {
  font-size: 42px;
  color: dodgerblue;
}

.Discord {
  margin: 15px;
  color: white;
  font-size: 36px;
}

.Discord:hover {
  font-size: 42px;
  color: dodgerblue;
}

.Telegram {
  margin: 15px;
  color: white;
  font-size: 36px;
}

.Telegram:hover {
  font-size: 42px;
  color: dodgerblue;
}

.Linkedin  {
  margin: 15px;
  color: white;
  font-size: 36px;
}

.Linkedin:hover  {
  font-size: 42px;
  color: dodgerblue;
}

.Footer {
  background-color: rgb(43, 2, 2);
  width: 100%;
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}